
 <nav>
  <ul>
    <a routerLink="">
      <div class="container-fluid">

        <div class="row">
          <div class="col" style="background-color:#3f51b5;">
              <img src="logo.png" class="rounded" alt="Sprints Logo"> 
          </div>
          <div class="col" style="background-color:#3f51b5;">≡Sprint</div>
 
            <div class="col" style="background-color:#3f51b5;">
                
                  <form class="form-inline">
                    <button id="qsLoginBtn"
                      
                      *ngIf="!auth.isAuthenticated()"
                      (click)="auth.login()" type="button" class="btn btn-primary" style="background-color:#3f51b5;">
                        Log In
                    </button>

                    <button id="qsLogoutBtn"
                      
                      *ngIf="auth.isAuthenticated()"
                      (click)="auth.logout()" type="button" class="btn btn-primary" style="background-color:#3f51b5;">
                        Log Out
                    </button>

                  </form>
                    
              </div>

          </div>
        </div>
      </a>
    </ul>
</nav>


    <form *ngIf="auth.isAuthenticated()">
      <app-sprint></app-sprint>
    </form>

    <form *ngIf="!auth.isAuthenticated()">
        <app-welcome></app-welcome>
    </form>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>
